.user-view
  .card.horizontal
    .user-image-container.card-image
      = image_tag @user.image_url, class: 'user-image'
    .user-content.card-content
      .card-title
        = @user.name
      = @user.email
%h5.title Causas suportadas
= render partial: 'projects/list', locals: { projects: @user.contributing_projects }
