.projects-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 2px solid #000;
}

.projects-search {
  display: flex;
  margin-top: 30px;
  width: 100%;
  justify-content: flex-end;

  .projects-search-form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 500px;
  }

  .projects-search-submit {
    margin-left: 10px;
  }
}

.projects-list {
  .project-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 140px;

    .project-image {
      max-width: 300px;
      height: 100%;
    }
  }

  .project-title {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    span {
      flex: 1;
    }
  }

  .project-content {
    color: #000;
  }
}

.projects-list-horizontal {
  .project-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 250px !important;
    max-width: 250px !important;
    height: 140px;

    .project-image {
      width: 100%;
      height: 100%;
    }
  }

  .project-title {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    span {
      flex: 1;
    }
  }

  .project-content {
    color: #000;
  }
}

.project-page {
  .project-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 140px;

    .project-image {
      max-width: 300px;
      height: 100%;
    }
  }

  .project-title {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    span {
      flex: 1;
    }
  }

  .project-content {
    color: #000;
  }
}
