.projects-list-horizontal
  - projects.each do |project|
    = link_to project.project do
      .card.horizontal
        .project-image-container.card-image
          = image_tag project.image_url, class: 'project-image'
        .project-content.card-content
          .card-title
            = project.title
          = project.description
