.login-panel
  %h3.login-title.center-align Entrar
  = link_to user_facebook_omniauth_authorize_path, class: 'waves-effect waves-light btn-large indigo darken-1 facebook-button'do
    = image_tag 'facebook_logo.png'
    %span Login com Facebook
