@import 'materialize/components/color';

$primary-color: color('amber', 'base') !default;
$secondary-color: #000 !default;
$success-color: color('green', 'base') !default;
$error-color: color('red', 'base') !default;
$link-color: color('amber', 'darken-1') !default;

// Navigation bar
$navbar-font-color: #000;

$button-raised-background: $secondary-color !default;

// Sidenav
$sidenav-width: 260px;
