@import 'materialize/components/color';

$primary-color: color('amber', 'base') !default;
$secondary-color: color('teal', 'lighten-1') !default;
$success-color: color('green', 'base') !default;
$error-color: color('red', 'base') !default;
$link-color: color('light-blue', 'darken-1') !default;

// Navigation bar
$navbar-font-color: #000;

