/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require_self
 */
@import 'variables';
@import 'materialize';
@import 'materialize/extras/nouislider';

@import 'components/titles';
@import 'components/app_header';
@import 'components/side_nav';
@import 'components/mansory_layout';

@import 'features/dashboard';
@import 'features/projects';
@import 'features/login';
@import 'features/users';

html, body {
  height: 100%;
}

.side-nav ~ #main-page {
  padding-left: $sidenav-width;
}

#main-content {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .side-nav ~ #main-page {
    padding-left: 0;
  }
}

.back-button-box {
  text-align: right;
}

.userView {
  background-color: $primary-color;
}

.facebook-button {
  font-size: 13px;
}

.notice-message {
  margin: 20px 20px 0 20px;
  padding: 10px;
}

.help-block {
  color: gray;
}

.account-box {
  display: flex;
  align-items: center;

  .account-logo {
    max-width: 50px;
    margin: 0 10px;
  }
}

.contributions-form input[type=number] {
  height: 2rem;
}
