%h2 Causas suportadas

%ul
  - @contributing_projects.each do |project|
    %li
      %strong= project.title
      = "#{project.percentage}%"

= link_to 'Atualizar', edit_my_contributing_projects_path, class: 'waves-effect waves-light btn'
