%ul#side-nav.side-nav.fixed
  %li
    .side-nav-brand
      %span.title Troquinho
  %li
    = link_to my_root_path do
      %i.material-icons attach_money
      Meu Cofrinho
  %li
    = link_to my_accounts_path do
      %i.material-icons account_balance_wallet
      Minhas Contas
  %li
    = link_to projects_path do
      %i.material-icons apps
      Causas
